footer {
  height: 64px;
  width: 100%;
  padding: 0px 64px;
  background: var(--var-primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: absolute;
  bottom: 0; */
  z-index: 999;
  box-sizing: border-box;
}

footer * {
  color: var(--var-secondary-color);
}

footer div > * {
  margin: 0 0.5rem;
}

@media (max-width: 800px) {
  footer {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    height: auto;
    padding: 1rem 2rem;
    gap:1rem;
  }

  .footer-item:nth-child(2) {
    order: 1;
  }
}

