.container {
    padding: 20px;
    background-color: rgb(230, 240, 250);
}

.header {
    margin-bottom: 20px;
}

.searchBox {
    width: 250px;
}

.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #f0f0f0;
    margin-bottom: 10px;
}

.linkItem {
    color: #1890ff;
    text-decoration: none;
    transition: color 0.3s;
}

.linkItem:hover {
    color: #40a9ff;
}
