.user-action-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2vh 2vw;
  width: 50%;
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  overflow: scroll;
}

.user-action-container > * {
  width: 100%;
}

.user-action-container .title {
  text-align: center;
  font-size: 1.5rem;
}

.user-action-container .bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.user-action-container .bottom div {
  display: flex;
  gap: 0.5rem;
}

.user-action-container .close {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-100%);
  width: fit-content;
  padding: 0.5rem;
}

@media (max-width: 800px) {
  :root {
    font-size: 14px;
  }
  .user-action-container {
    width: 80%;
  }
  .user-action-container .bottom {
    flex-direction: column;
    align-items: center;
  }
}

/*------------------Employee Profiles Page--------------------*/
.employee-container {
  display: flex;
  flex-direction: row;
}
.employee-summary {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: box-shadow 0.3s ease;
  width: 400px;
  height: 200px;
  margin: 8px;
}

.employee-summary img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.employee-info p {
  margin: 4px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.employee-info {
  margin-left: 10px;
  text-align: left;
  flex-grow: 1;
}

.title-row {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.title-row div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 800px) {
  .employee-summary {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
  }

  .employee-picture {
    justify-content: center;
  }
  .employee-summary img {
    width: 150px;
    height: 150px;
    margin-bottom: 16px;
    align-self: center;
  }

  .employee-info {
    margin-left: 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
/*---------Personal Info Page----------*/
.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/*---------paginiation----------*/
.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 0;
}

.pagination li {
  display: inline-block;
  border: solid var(--var-font-color) 0.5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--var-button-color);
}

.pagination li:first-child {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  border-left: solid var(--var-font-color) 1px;
}

.pagination li:last-child {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  border-right: solid var(--var-font-color) 1px;
}

.pagination li.active {
  font-weight: bold;
  color: var(--var-primary-color);
}
/*---------paginiation----------*/
/*------------------Item Page--------------------*/

/*------------------Item Detail Page--------------------*/
.detail-page {
  background-color: var(--var-bg-color);
  height: 100%;
  padding: 2rem 0;
}

.detail-page > * {
  margin: 1rem 3rem;
}

.detail-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
  background: var(--var-secondary-color);
  height: 100%;
}

.detail-container > * {
  flex: 1;
}

.detail-page img {
  width: 100%;
  aspect-ratio: 1/1;
}

.detail-page .info-container > * {
  margin: 1rem 0;
}

.info-container div {
  display: flex;
  gap: 1rem;
}

.info-container .warning {
  background: #fde6e4;
  color: #ea3d2f;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 1rem;
}

.info-container .description {
  text-align: justify;
  line-height: 1.5;
}

.detail-page .primary {
  color: var(--var-detail-primary-color);
}

.detail-page .secondary {
  color: var(--var-detail-secondary-color);
}

@media (max-width: 800px) {
  .detail-container {
    flex-direction: column;
  }
  .detail-page .detail-container > * {
    width: 100%;
  }
}

.item-detail-outOfStock {
  background-color: rgba(255, 181, 181, 0.907);
  color: red;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
}
/*------------------Item Detail Page--------------------*/

/*------------------Error Page--------------------*/
.error-page {
  background-color: var(--var-bg-color);
  height: 100vh;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.error-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
  background: var(--var-secondary-color);
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
}

.error-item {
  flex-basis: auto;
  padding: 1rem;
  border-radius: 4px;
  display: inline-block;
  color: var(--var-button-color);
}

/*------------------Error Page--------------------*/

@media (max-width: 800px) {
  .title-row {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 200px) {
  .title-row > div {
    flex-direction: column;
  }
}
