:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  --var-primary-color: #111827;
  --var-secondary-color: #ffffff;
  --var-bg-color: #f9fafb;
  --var-button-color: #5049e5;
  --var-font-color: #cccccc;

  --var-detail-primary-color: #535353;
  --var-detail-secondary-color: #6b7280;
}

body {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
  background: none;
}

p,
span {
  white-space: nowrap;
  font-size: clamp(0.8rem, 1rem);
}