nav {
  background: var(--var-primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  gap: 2vw;
  width: auto;
}

nav:first-child {
  padding-left: 1rem;
}

nav:last-child {
  padding-right: 1rem;
}

nav * {
  color: var(--var-secondary-color);
}

nav form {
  flex-grow: 1;
  display: flex;
  height: 60%;
}

nav form input {
  padding-right: 2rem;
  color: black;
  flex-grow: 1;
  height: 2rem;
  box-sizing: border-box;
}

nav form button {
  position: relative;
  height: 2rem;
  transform: translateX(-100%);
  background: none;
}

nav form button * {
  color: var(--var-font-color);
}

nav div {
  display: flex;
}

nav div button {
  display: flex;
  flex-wrap: nowrap;
}

nav div button > * {
  margin: 0 0.25rem;
}

/* nav div > * {
  margin: 0 0.2rem;
} */

nav p {
  white-space: nowrap;
}

@media (max-width: 580px) {
  :root {
    font-size: 14px;
  }

  nav {
    flex-wrap: wrap;
    padding: 1rem;
    height: auto;
  }
  .hidden {
    display: none;
  }

  .nav-item {
    flex-basis: 30%;
  }

  .nav-item:nth-child(2) {
    order: 2;
  }
}

.nav-menu {
  display: flex;
  gap: 10px;
}

@media (max-width: 300px) {
  .nav-menu {
    flex-direction: column;
    gap: 5px;
  }
}
